.porpic{
    align: center;
}

hr{
    border: none;
    background-color: black;
    color: black;
    height: 2px;
}

.font2{
    color: black;
    font-family: "Special Elite", serif;
    font-size: 20px;
}